<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body >
    <p id="head"><a href="http://127.0.0.1:8000/">Address Database</a></p>
    <hr>
    <div class="jumbotron">

        {% block content%}
        {% endblock %}

    </div>
  
</body>




</html>

<style>
    #head{
        font-size: xx-large;
    }
    p{
        text-align:center;
    }
</style>